@import url("https://fonts.googleapis.com/css2?family=Covered+By+Your+Grace&family=Pixelify+Sans:wght@400;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  overflow-x: hidden;
}

body {
  background: #000;
}

.section {
  width: 100%;
  position: relative;
}

.flag {
  position: absolute;
  top: 0;
  left: 0;
  width: 180px;
  z-index: 100;
}

.section1 {
  background: url("/background first section.svg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: top center;

  min-height: 950px;

  display: flex;
  flex-direction: column;
  align-items: center;

  padding-top: 70px;
}

.mainTitle {
  font-family: "Covered By Your Grace";
  font-size: 9rem;
  font-weight: 400;

  color: #000;

  line-height: 0.8;
  text-align: center;

  text-shadow:
    3px 0 #fff,
   -3px 0 #fff,
    0 3px #fff,
    0 -3px #fff,
    2px 2px #fff,
   -2px 2px #fff,
    2px -2px #fff,
   -2px -2px #fff;  
  margin-bottom: 10px;
}

.topInfo {
  display: flex;
  align-items: center;
  gap: 25px;
}

.meWhenU {
  width: 210px;
}

.heroContent {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.introText {
  font-family: "Pixelify Sans";
  font-weight: 600;
  font-size: 1.7rem;

  color: white;

  text-shadow:
    1px 0 #000,
   -1px 0 #000,
    0 1px #000,
    0 -1px #000;

  max-width: 600px;
} 

.submitRow {
  display: flex;
  align-items: center;
  gap: 20px;
}

.submitButton {
  display: block;

  transition: transform 0.15s ease;
}

.submitButton:hover {
  transform: translateY(-6px);
}

.submitButton:active {
  transform: translateY(3px);
}

.submitButton img {
  width: 180px;
}

.questionBlock {
  display: flex;
  align-items: center;
  gap: 10px;
}

.questionText {
  font-family: "Pixelify Sans";
  font-size: 1.5rem;
  font-weight: 600;

  color: black;

  text-shadow:
    1px 0 white,
   -1px 0 white,
    0 1px white,
    0 -1px white;
}

.hajTag {
  color: #000ac3;
  text-decoration: none;
  transition: 0.15s ease;
}

.hajTag:hover {
  opacity: 0.8;
  text-decoration: underline;
}

.danceShark {
  width: 70px;
}

.cardsRow {
  margin-top: 40px;

  display: flex;
  justify-content: center;
  align-items: center;

  gap: 0;
}

.card1 {
  width: 240px;
  transform: rotate(-8deg);
  margin-right: -50px;
  z-index: 1;
}

.card2 {
  width: 360px;
  transform: rotate(2deg);
  margin-right: -40px;
  z-index: 2;
}

.card3 {
  width: 200px;
  transform: rotate(8deg);
  margin-right: -20px;
  z-index: 3;
}

.card4 {
  width: 240px;
  transform: rotate(-8deg);
  margin-right: -20px;
  z-index: 2;
}

.card5 {
  width: 240px;
  transform: rotate(8deg);
  z-index: 1;
}

.section2 {
  background: url("/background middle section.svg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: top center;

  min-height: 650px;

  display: flex;
  flex-direction: column;
  align-items: center;

  padding-top: 60px;
  margin-top: -75px;
}

.stepsContainer {
  width: 100%;

  display: flex;
  justify-content: center;
  gap: 50px;
}

.step {
  width: 220px;
  text-align: center;
}

.spinShark {
  width: 222px;
}

.shark1 {
  transform: rotate(-10deg);
}

.shark2 {
  transform: rotate(12deg) scaleX(-1);
}

.shark3 {
  transform: rotate(-8deg);
}

.shark4 {
  transform: rotate(10deg) scaleX(-1);
}

.step p {
  font-family: "Pixelify Sans";
  font-size: 1.1rem;
  font-weight: 600;

  color: white;

  text-shadow:
    1px 0 #000,
   -1px 0 #000,
    0 1px #000,
    0 -1px #000;

  line-height: 1;
}

.bonusText {
  margin-top: 80px;

  font-family: "Pixelify Sans";
  font-size: 24px;
  font-weight: 600;

  color: white;
  
  text-shadow:
    1px 0 #000,
   -1px 0 #000,
    0 1px #000,
    0 -1px #000;
  line-height: 1;

  text-align: center;
  max-width: 1100px;
}

.section3 {
  background: url("/background last section.svg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: top center;

  min-height: 630px;

  display: flex;
  flex-direction: column;
  align-items: center;

  padding-top: 30px;
  margin-top:-75px;
}

.footerTitle {
  font-family: "Covered By Your Grace";

  font-size: 8rem;

  color: white;

  text-shadow:
    2px 0 #000,
   -2px 0 #000,
    0 2px #000,
    0 -2px #000;
}

.creditText {
  margin-top: 10px;

  font-family: "Pixelify Sans";
  font-size: 24px;
  font-weight: 600;

  color: white;
  
  text-shadow:
    1px 0 #000,
   -1px 0 #000,
    0 1px #000,
    0 -1px #000;
  line-height: 1;
}

.footerImages {
  margin-top: 30px;

  display: flex;
  gap: 50px;
}

.footerImages img:nth-child(1) {
  width: 280px;
}

.footerImages img:nth-child(2) {
  width: 350px;
}

.footerImages img:nth-child(3) {
  width: 280px;
}

@media (max-width: 1000px) {
  .mainTitle {
    font-size: 80px;
  }

  .topInfo {
    flex-direction: column;
  }

  .cardsRow {
    flex-wrap: wrap;
    gap: 0px;
  }

  .card {
    transform: none !important;
    margin: 0 !important;
  }

  .stepsContainer {
    flex-direction: column;
    align-items: center;
  }

  .footerImages {
    flex-direction: column;
    align-items: center;
  }
}